<?xml version="1.0" encoding="utf-8"?>
<log4net>
  
  <!-- #################### Main application logger#################### -->
  <!-- #################### APPENDERS #################### -->
  <appender name="App_txt_appd" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value=".\\Log\\Application\\.log" />
    <preserveLogFileNameExtension value="true" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="8" />
    <maximumFileSize value="100MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss,fff}&#x9;%-5level&#x9;[%logger]&#x9;%message%newline" />
    </layout>
  </appender>

  <!-- #################### CONFIGURATOR #################### -->
  <logger name="Application">
    <level value="DEBUG" />
    <appender-ref ref="App_txt_appd" />
  </logger>

  <!-- #################### Main application logger#################### -->
  <!-- #################### APPENDERS #################### -->
  <appender name="App_txt_appd" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value=".\\Log\\Application\\.log" />
    <preserveLogFileNameExtension value="true" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="8" />
    <maximumFileSize value="100MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{HH:mm:ss,fff}&#x9;%-5level&#x9;[%logger]&#x9;%message%newline" />
    </layout>
  </appender>

  <!-- #################### CONFIGURATOR #################### -->
  <logger name="Application">
    <level value="DEBUG" />
    <appender-ref ref="App_txt_appd" />
  </logger>

</log4net>
